!*.xcodeproj/project.pbxproj
!*.xcodeproj/project.xcworkspace/
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
!src/**/build/
**/build/
**/xcshareddata/WorkspaceSettings.xcsettings
*.iml
*.xcodeproj/*
.DS_Store
.claude
.cxx
.externalNativeBuild
.gradle
.idea
.kotlin
captures
local.properties
node_modules/
xcuserdata
